@import '../../utils/styles/Variables.scss';

.menu {
  width: 100%; margin-bottom: 1.5rem;
  background-color: #FF8A65;

  ul {
    margin: 0; padding: 0; list-style: none;
    width: 100%; display: flex;

    li {

      a {
        display: flex; padding: 15px;
        text-decoration: none; color: $text-color;

        transition: all 200ms ease-out;

        &:hover, &.active {
          background-color: #2ccce4;
        }
      }
    }
  }
}
